html {
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
}

a {
  color: seashell;
}

h2,
h3,
h4 {
  margin: 0;
  padding: 10px;
}

/* Header Rules */

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 1px solid seashell;
  z-index: 100;
  align-items: center;
  position: fixed;
  width: 100%;
  height: 69px;
  background-color: black;
  top: 0px;
}

.logo img {
  padding-left: 10px;
  height: 50px;
}

nav {
  padding-right: 10px;
  color: white;
  padding-right: 20px;
}

nav span {
  text-decoration: underline;s
}

/* Body Rules */

.body {

  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
}

.mission {
  background-image: url("../images/img-mission-background.jpg");
  display: flex;
  width: 1200px;
  height: 700px;
  justify-content: center;
  margin: auto;

}

.content {
  background-color: black;
  margin: auto;
  width: 100%;
  justify-content: center;
}

.month {
  width: 1000px;
  margin: auto;
  padding-top: 70px;
  height: 700px;
}

.onsale {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.item {
  padding: 5px;
}

.item span {
  display: block;
}

.item img {
  width: 300px;
  height: 200px;
}

.locations {
  background-image: url("../images/img-locations-background.jpg");
  margin: auto;
  padding-top: 70px;
  height: 500px;
  width: 1200px;
}

.locations h2 {
  margin: 15px;
}

.stores {
  display: flex;
  justify-content: space-around;
  margin: 0px 50px 0px 50px;
}

.store {
  background-color: black;
  width: 300px;
  opacity: 1;
}

/* Footer Rules */

footer {
  height: 200px;
  margin: 0 auto;
}

.contact {
  text-align: center;
  font-weight: bold;
}

.copyright {
  text-align: left;
  padding-left: 20px;
}
